body {
    background-color: hsl(0, 0%, 0%);
}

body::-webkit-scrollbar {
    display: none;
    /* BEGONE SCROLLBAR, you have no right being here! */
}

.card {
    --accent: #fff;
    --bg: url("../images/hanger.jpg");

    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #000;
    overflow: hidden;
    margin-bottom: 1px;
    border: #333;
    border-top-style: double;
    border-bottom-style: double;
}

.card-image {
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(11, 14, 20, 0) 0%, #000 100%),
        var(--bg) center/cover no-repeat;
    position: relative;
}

.card-content {
    width: 50%;
    flex: 1;
    position: relative;
    z-index: 1;
    background: (--accent);
}

.card-label {
    font-size: 14px;
    color: #aaa;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.card-title {
    font-size: 10vh;
    font-weight: bold;
    margin-bottom: 1vh;
    color: #fff;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.card-btn {
    padding: 15px 30px;
    font-size: 16px;
    border: 2px solid #555;
    background: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}


.card:hover .card-title {
    color: var(--accent);
    text-shadow: 0 0 12px var(--accent);
}

.card .card-btn:hover {
    background: var(--accent);
    border-color: var(--accent);
    color: #000;
    box-shadow: 0 0 10px var(--accent);
}
