.card.fighter {
    --accent: #ff5555;
    --bg: url("../images/fighter.jpg");
}

.card.attack {
    --accent: #5599ff;
    --bg: url("../images/attack.jpg");
}

.card.bomber {
    --accent: #55ff55;
    --bg: url("../images/bomber.jpg");
}

.card.mixed {
    --accent: #879b52;
    --bg: url("../images/mixed.jpg");
}