.card.combat {
    --accent: #ff5555;
    --bg: url("../images/Combat.jpg");
}

.card.support {
    --accent: #5599ff;
    --bg: url("../images/Support.jpg");
}

.card.recon {
    --accent: #55ff55;
    --bg: url("../images/Recon.jpg");
}